html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-color: rgb(227, 217, 221);
  background: linear-gradient(
    185deg,
    rgba(227, 217, 221, 1) 0%,
    rgba(212, 232, 255, 1) 100%
  );
  font-family: 'Dongle', sans-serif;

  
}

#userPreferences {
  display: flex;
  padding: 5%;
  gap: 40px;
  justify-content: center;
  align-items: center;
  
}

input {
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px;
    font-family: 'Dongle', sans-serif;
  font-weight: 300;
  font-size: 25px;
}

label {
  margin-right: 3px;
  font-family: 'Dongle', sans-serif;
  font-weight: 400;
  font-size: 25px;
}

#choice_tempo, option{
  font-family: 'Dongle', sans-serif;
  font-weight: 300;
  font-size: 25px;
  border-radius: 30px;
  border: 0px;
  text-align: center;

}

#errorOctaveMessage{
    text-align: center;
    color:crimson;
    font-size: 40px;
    font-weight: 700;

}

button{
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;
    border-width: 1px;
    border-color: black;
    font-family: 'Dongle', sans-serif;
  font-weight: 400;
  font-size: 25px;
  background-color: greenyellow;
  padding: 0px;
}

#note {
  font-family: 'Russo One', sans-serif;
  font-size: 10em;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px,
    #000000 1px -1px;
  text-align: center;
  padding-top: 2%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}